<div class="film in_row">
    <h3 class="filmTitle"> {{ film.title }} </h3>
    <img src="{{ film.img }}" class="filmImg">
    <p class="filmDiscription"> {{ film.discription }} </p>
    <div class="like">
      <img src="{{ likeImg }}" class="likeSize">
      </img>
      {{ film.likeCount }}
    </div>
</div>